<%- include('partials/header') %>

<body>
   
<div id ="btn_tag">
                <input type="button" name="submit_tag" class="btn_tag" value="Pierre" />
                <input type="button" name="submit_tag" class="btn_tag" value="Feuille" />
                <input type="button" name="submit_tag" class="btn_tag" value="Ciseau" />

 </div>
 <div class= "gamer">
 <div id="player">

 </div>
 <div id="computer">
    
</div>
</div>
    <script src="/js/chifumi.js"></script>

    </body>
    </html>
